# excludes unnecessary files in home directory
.DS_Store
.Rhistory

# excludes unnecessary files in colnames
colnames/col_compare.csv
colnames/col_counts.csv

# keep input directory only with compressed input data
input/*
!input/partial_hosp_data.tgz

#keep blank output directory
output/*
!output/.gitkeep
